header {
        border-style: hidden; 
}
h1 {
    background-color: green;
    color: yellow;
    font-family: Impact, Charcoal, sans-serif; 
    font-style: italic; 
}
h2 {
    background-color: yellow;
    color: red; 
    font-size: 12px; 
}
h3 {
    background-color: blue; 
    color: yellow;
    font-size: 25px; 
    font-family: "Arial Black", Gadget, sans-serif; 
}
h4 {
   background-color: orange; 
   color: blue; 
    font-family: "Arial Black", Gadget, sans-serif; 
    font-size: 15px; 
}
h5 {
    background-color: orange; 
   color: blue; 
    font-family: "Arial Black", Gadget, sans-serif; 
    font-size: 15px; 
}
h6{
   background-color: orange; 
   color: blue; 
    font-family: "Arial Black", Gadget, sans-serif; 
    font-size: 15px;
}
p { 
   color: purple; 

}
main {
      border-style: dashed;
      border-color: red; 
      border-width: 8px; 
      
}        
footer{
background-color: orange;
border-style: solid;
border-left-color: yellow;
border-bottom-color: blue;
border-top-color: transparent;
border-right-color: transparent; 
border-left-width:7px;
border-bottom-width: 7px; 
}

/*Requirements

*Create a new file called "main.css"
*Add a link element to the head of your index.html file
<link rel="stylesheet" href="main.css" type="text/css">
*Edit the main.css file
*add a declaration for each element in the body of your index.html file.
*add properties to style the background color of each element.
*add properties to style the border of each element.
*add properties to style the font of each element.
*View your index.html in the development server.
*Validate your index.html file.
*Validate your main.css file.
*Copy this list of requirements and paste it into your "main.css" file as a css comment. Put an asterisk in front of each one that you did.
*Upload to the production server with sftp.
*View your index.html in the production server. */ 

